<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4" *ngFor="let skill of (skills | orderby: 'name')">
      <mat-card>
        <mat-card-title>
          <code>{{skill.version }}</code>{{skill.name}}</mat-card-title>
        <mat-card-subtitle>{{skill.subtitle}}</mat-card-subtitle>
        <mat-card-actions>
          <a>
            <i [ngClass]="{ 'fa-check-circle': skill.usedOnSite === true, 'fa-window-close': skill.usedOnSite === false }" class="fa"
              aria-hidden="true"></i> On this site
          </a>
          <a href="{{skill.github}}" *ngIf="skill.github !=='NA'" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i> Github
          </a>
          <a href="{{skill.docs}}" *ngIf="skill.docs !=='NA'" target="_blank">
            <i class="fa fa-book" aria-hidden="true"></i> Docs
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
