.row {
  margin-bottom: 10px;
}

img.cartoon {
  float: left;
  margin: 0px 15px 10px 0px;
  width: 100px;
  box-shadow: 5px 5px 5px #333;
}

.mat-card {
  min-height: 225px;
}

h1 {
  color: #C2BBD6;
}
