.card {
  width: 350px;

  code {
    position: absolute;
    top: 20px;
    right: 10px;
    float: right;
    font-size: 1em;
    color: #e040fb;
  }

  .card-link {
    font-size: 0.8em;
    color: #fff;
  }
}
