<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <div class="branding">
      <img [src]="logo" />
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let nav of navLinks" (click)="sidenav.close()" [routerLink]="[nav.link]" routerLinkActive="active">
        {{nav.label}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button class="d-md-none col-md-3" (click)="sidenav.open()">
        <i class="fa fa-bars"></i>
      </button>
      <!-- Handheld Logo -->
      <span class="text-center d-md-none col-md-9">
        <a routerLink="/">
          <img [src]="logo" />
        </a>
      </span>
      <!-- Default Logo -->
      <span class="d-md-inline d-none col-md-3">
        <a routerLink="/">
          <img [src]="logo" />
        </a>
      </span>
      <ul class="text-center d-none d-md-inline col-md-6">
        <li *ngFor="let nav of navLinks">
          <a [routerLink]="[nav.link]" routerLinkActive="active">
            {{nav.label}}
          </a>
        </li>
      </ul>
      <span class="text-right d-none d-md-inline col-md-3">
        <a href="https://www.facebook.com/stevanovich" target="_blank" title="Facebook">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="https://twitter.com/TonyStevanovich" target="_blank" title="Twitter">
          <i class="fa fa-twitter-square"></i>
        </a>
        <a href="https://www.linkedin.com/in/tony-stevanovich-7030b11/" target="_blank" title="LinkedIn">
          <i class="fa fa-linkedin-square"></i>
        </a>
        <a href="https://github.com/tstevanovich" target="_blank" title="Github">
          <i class="fa fa-github-square"></i>
        </a>
      </span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
