<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h1>About Me</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <img
              src="./assets/images/tony_cartoon.png"
              class="cartoon"
              alt="Tony"
            />Hi I'm Tony, a web developer with over 20 years of experience. I'm
            currently a senior technical team lead with a finanical software
            company called
            <a
              href="https://www.zenmonics.com/"
              target="_blank"
              title="Zenmonics"
              >Zenmonics</a
            >. I started out my development career as a web developer for a
            local internet service provider back in 1996 in Indiana. Now, I'm
            primarily doing Angular UI/UX development.
          </p>
          <p>
            I currently live in
            <a
              href="https://en.wikipedia.org/wiki/Mooresville%2C_North_Carolina"
              target="_blank"
              title="Zenmonics"
              >Mooresville, North Carolina</a
            >, which is a suburb of Charlotte, NC. I have two sons, AJ is
            {{ ajAge }} and Tyler is {{ tyAge }}. My interests include: coding,
            gaming, Chicago pro sports (Cubs, Bulls, Bears, Blackhawks), Indiana
            college teams (Indiana basketball and Notre Dame football), Sci-fi
            movies and shows, Star Wars, and Marvel comics. I also enjoy playing
            tennis when I have a partner to hit with.
          </p>
          <!-- Timeline -->
          <app-timeline></app-timeline>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
