<div class="card w-75 mx-auto">
  <div class="card-body">
    <h1 class="card-title">R&eacute;sum&eacute;</h1>
    <h2 class="card-subtitle">Tony Stevanovich</h2>
    <div class="card-text">
      <p>
        Mooresville, NC 28115<br>
        <a href="mailto:tonys@yahoo.com">tonys@yahoo.com</a><br>
        <a
          href="http://www.linkedin.com/pub/tony-stevanovich/1/b1/703/">http://www.linkedin.com/pub/tony-stevanovich/1/b1/703/</a><br>
        <a href="http://twitter.com/TonyStevanovich">http://twitter.com/TonyStevanovich</a><br>
      </p>
      <h3>Summary</h3>
      <p>
        Cutting-edge and code efficient Angular UI developer with multiple years of experience delivering multiple
        technology solutions, incorporating user experience fundamentals, and architecting strategic platforms that
        deliver quick results and enhancements across company-wide applications and several devices (web, tablet,
        mobile). Consistent reputation of planning and performing new projects that result in improved service,
        raised turn-around times, and bolster automation. Developer with strong roots in both front and back end
        development, content management systems, database architecture, and meeting customer needs. Known by
        co-workers for quick turnaround times and fostering team chemistry. Capable of deciphering complicated
        technical instructions and adjusting to changing versions of code, browsers, and frameworks.
      </p>
      <h3>Skills</h3>
      <p>
        <strong>Languages: </strong>HTML, CSS, JavaScript, Sassy CSS (SCSS), Typescript, ECMAScript, RxJS, SQL, PHP,
        Tcl, Bash, UNIX shell
      </p>
      <p>
        <strong>Frameworks: </strong>Angular 9.x, AngularJS, Angular Material, PrimeNG, Flex Layout, Bootstrap,
        JQuery,
        Node.js
      </p>
      <p>
        <strong>Software Configuration Management: </strong>Git, Subversion (SVN), Team Foundation Server (TFS), CVS
      </p>
      <p>
        <strong>Testing: </strong>Jasmine testing framework, Karma task runner, Protractor
      </p>
      <p>
        <strong>Content Management Tools: </strong>Tridion, Vignette, Wordpress, Sharepoint, Joomla, Drupal, Mambo
      </p>
      <p>
        <strong>Databases: </strong>Oracle, MS SQL Server, Firebase, MySQL, Access, Mongo
      </p>
      <p>
        <strong>Servers: </strong>Node, Amazon Web Services (AWS), Microsoft Azure, Apache Webserver, IIS, Weblogic,
        Tomcat, XAMPP
      </p>
      <p>
        <strong>Management: </strong>SDLC, Enterprise Architecture, Vendor Management, Agile Methodologies,
        Requirements Analysis. Solution Architecture, Rapid Application Development, IT Management, Business
        Process, CRM
      </p>
      <h3>Expereience</h3>
      <p>
        <strong>Senior Angular UI Developer <br />Wells Fargo - Charlotte, NC <br />1/2020 to Present</strong>
      </p>
      <ul>
        <li>
          Worked on internal tool, eVOLve, an electronic communications network for foreign exchange using Angular
          9.x and HTML/CSS/JS
        </li>
        <li>
          Upgraded linting and formatting rules for code repository with ESLint, Prettier, and StyleLint
        </li>
        <li>
          Completed code reviews for UI development team through GIT check-ins
        </li>
        <li>
          Researched UI/UX trends and recommendations, and integrated these principles into our codebase when
          applicable
        </li>
      </ul>
      <p>
        <strong>Senior Technical Team Lead <br />Zenmonics - Charlotte, NC <br />6/2018 to 1/2020</strong>
      </p>
      <ul>
        <li>
          Developed both of our banking administration and open account applications using Angular 7.x and
          HTML/CSS/JS.
        </li>
        <li>
          Rewrote AngularJS (Angular 1.x) service calls into Angular 7.x service calls.
        </li>
        <li>
          Converted older UI code into newer responsive pages using Angular Material
        </li>
        <li>
          Researched UI/UX trends and recommendations, and integrated these principles into our codebase when
          applicable
        </li>
      </ul>
      <p>
        <strong>Senior Angular UI Developer <br />FIS - Charlotte, NC <br />6/2015 to 6/2018</strong>
      </p>
      <ul>
        <li>
          Developed frontends for modern and scalable web applications with a focus on wealth and retirement using
          HTML/CSS/JS and Angular.
        </li>
        <li>
          Worked with product teams to upgrade AngularJS projects to Angular through complete project rewrites as
          well as using ngUpgrade to stand AngularJS/Angular environments on the same platform.
        </li>
        <li>
          Collaborated with product owners and user experience designers on the planning and implementation of
          appealing experiences across device boundaries
        </li>
        <li>
          Partnered with all development teams to discuss specification, architecture, design, toolset and
          technology stack
        </li>
        <li>
          Used automated unit testing and integration throughout existing codebase. Coverage increased 70% in our
          first year
        </li>
      </ul>
      <p>
        <strong>Manager, Web and Mobile Solutions <br />Electric Power Research Institute (EPRI) - Charlotte, NC
          <br />1/2015 to 5/2015</strong>
      </p>
      <ul>
        <li>
          Managed team of .NET developers, front-end JavaScript and CSS developers, business analysts, DBAs, system
          operations, architects, quality assurance, and production support staff who developed websites and
          applications for web and mobile
        </li>
        <li>
          Worked within several applications and programs including SharePoint, WordPress, InfoPath, Nintex
          workflows, FAST search, DITA data modeling, and JIRA
        </li>
        <li>
          Organized budget for department which included employee and contractor run rates, software cost, 3rd party
          vendors, employee training, and hardware
        </li>
        <li>
          Project managed all new work with resource allocation, project timelines, and four blockers.
        </li>
        <li>
          Assisted in the migration of a data center from Palo Alto, CA to Charlotte, NC which also included the
          upgraded of our content management system for SharePoint 2010 to SharePoint 2013
        </li>
        <li>
          Responsible for updates and new releases to public website (EPRI.com), authenticated site
          (membercenter.epri.com), company intranet (insideepri.epri.com), and several other 3rd party sites for our
          clients
        </li>
      </ul>
      <p>
        <strong>UX Development Manager <br />Ally Bank - Charlotte, NC
          <br />3/2009 to 12/2014</strong>
      </p>
      <ul>
        <li>
          Began job here when Ally was known as GMAC as a front end UX
          developer using HTML/CSS/JS. I was one of three original UX
          developers hired in before the conversion to Ally. Saw the team
          grow to 40+ UX developers and was promoted to development manager.
        </li>
        <li>
          Managed full team of .NET developers, front-end JavaScript and CSS
          developers, content management users, and code / content migration
          people who developed web platforms for multiple devices
        </li>
        <li>
          IT owner of several Ally applications including SDL Tridion
          Content Management System, Countersoft Gemini Ticketing System,
          GitHub, and Bazaar Voice
        </li>
        <li>
          Administrate GitHub versioning software used by three development
          teams
        </li>
        <li>
          Led sustain work through Agile methodologies. Sprint releases fell
          every other week and had daily scrum meetings.
        </li>
        <li>
          Operating System administrator of Windows Servers for multiple
          Ally internal applications
        </li>
        <li>
          Planned and architected multiple Ally workflows for front-end and
          application teams to integrate with content management application
        </li>
      </ul>
      <p>
        <strong>Senior UI Developer <br />Wells Fargo - Charlotte, NC
          <br />6/2005 to 3/2009</strong>
      </p>
      <ul>
        <li>
          Began job here when Wells Fargo was known as Wachovia. Assisted
          team with the merger and code conversion with Wells Fargo.
        </li>
        <li>
          Developed and maintained e-commerce applications for
          Wellsfargo.com and 11 other Wells Fargo / Wachovia branded sites
          using HTML/CSS/JS.
        </li>
        <li>
          Wrote and maintained several web application interfaces using
          Vignette Content Management System using TCL backend programming
          language.
        </li>
        <li>
          Planned and developed multiple Oracle database schemas and tables
          to manage front end Wells Fargo site.
        </li>
        <li>
          Created user interface for five brand new sites with XHTML and CSS
        </li>
        <li>
          Co-wrote three XML parser applications using AJAX including
          Investor Relations feeds and Small Business news.
        </li>
        <li>
          Prototyped economic audio and video podcast delivery to the
          website and with iTunes.
        </li>
        <li>
          Engineered content management tool from scratch with PHP and MySQL
          for Wachovia’s MS Bike Ride site along with the front end XHTML
          and CSS
        </li>
        <li>Wrote ActionScript code for Flash Retirement calculator</li>
      </ul>
      <p>
        <strong>Additional Work Experience</strong>
      </p>
      <ul>
        <li>
          New York Life Insurance, New York, NY, Applications Engineer
        </li>
        <li>SBC, Kirkwood, MO, Software Engineer</li>
        <li>Sprint PCS, Rosemont, IL, Software Engineer</li>
        <li>Chamberlain Group, Elmhurst, IL, Software Engineer</li>
        <li>Lakeshore Staffing, Chicago, IL, PHP Consultant</li>
        <li>Rainbow Media, New York, NY, Vignette Consultant</li>
        <li>Cablevision, Woodbury, NY, Set Top Box Developer</li>
        <li>Encyclopaedia Britannica, Chicago, IL, Software Engineer</li>
        <li>Bank One, Chicago, IL, Senior Programmer Analyst Manager</li>
        <li>Northern Indiana Internet Access, Chesterton, IN, Webmaster</li>
        <li>Netnitco, Hebron, IN, Technical Support</li>
      </ul>
      <h3>Education</h3>
      <p>
        Arizona State University, Tempe, AZ <br />Indiana University
        Northwest, Gary, IN
      </p>
    </div>

  </div>
</div>
