/* You can add global styles to this file, and also import other style files */

@import '/theme.scss';
body {
  margin: 0;
  padding: 0;
}

a {
  color: #C2BBD6;
}

/* Material Overrides */

.mat-card {
  background: rgba(0, 0, 0, 0.5);
  .mat-card-header-text {
    margin: 0;
  }
}
