/* You can add global styles to this file, and also import other style files */

@import './theme.scss';
body {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: #e040fb;
}

/* Material Overrides */

.mat-card {
  background: rgba(0, 0, 0, 0.5);
  .mat-card-header-text {
    margin: 0;
  }
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
