.timeline {
  width: 100%;
}

.timeline time {
  font-size: 1.2em;
  display: block;
  font-weight: bold;
}

.timeline ul {
  padding-left: 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  padding-top: 50px;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 40vw;
  padding: 15px;
  background: #72609e;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #72609e;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
