<section class="timeline">
  <ul>
    <li>
      <div>
        <time>1996</time> First dev job developing websites for Northwest Indiana Internet Access.
      </div>
    </li>
    <li>
      <div>
        <time>1998</time> First dev job at large corporation. Content mgmt. application coding for Bank One (now known
        as Chase Bank)
      </div>
    </li>
    <li>
      <div>
        <time>1999</time> My first child, Anthony Joseph Stevanovich, was born.
      </div>
    </li>
    <li>
      <div>
        <time>2000</time> For the next 5 years, I took various consulting jobs working in New York, Chicago, and St.
        Louis. Developed mostly front end and application managment projects.
      </div>
    </li>
    <li>
      <div>
        <time>2001</time> My second son, Tyler George Stevanovich, was born.
      </div>
    </li>
    <li>
      <div>
        <time>2005</time> Moved to Charlotte, NC from Valparaiso, IN. Started job with Wells Fargo as a UI front end
        developer.
      </div>
    </li>
    <li>
      <div>
        <time>2009</time> Left Wells Fargo. Started job with Ally Bank doing UI dev and working with content managment
        system.
      </div>
    </li>
    <li>
      <div>
        <time>2011</time> Bought a new home and moved to Mooresville, NC, a suburb of Charlotte, NC.
      </div>
    </li>
    <li>
      <div>
        <time>2015</time> Started job with FIS, writing financial software. First started using Angular.
      </div>
    </li>
    <li>
      <div>
        <time>2018</time> Left FIS, started working at Zenmonics doing Angular UI dev.
      </div>
    </li>
    <li>
      <div>
        <time>2020</time> Left Zenmonics, started working at Wells Fargo doing Angular UI dev.
      </div>
    </li>
  </ul>
</section>
